*,
*::after,
*::before {
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body,
html {
    height: 100%
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.eot');
    src: url('../fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'), url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'), url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype'), url('../fonts/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.eot');
    src: url('../fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'), url('../fonts/Montserrat-MediumItalic.woff') format('woff'), url('../fonts/Montserrat-MediumItalic.ttf') format('truetype'), url('../fonts/Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.eot');
    src: url('../fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-LightItalic.woff2') format('woff2'), url('../fonts/Montserrat-LightItalic.woff') format('woff'), url('../fonts/Montserrat-LightItalic.ttf') format('truetype'), url('../fonts/Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.eot');
    src: url('../fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'), url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff'), url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype'), url('../fonts/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Thin.woff2') format('woff2'), url('../fonts/Montserrat-Thin.woff') format('woff'), url('../fonts/Montserrat-Thin.ttf') format('truetype'), url('../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'), url('../fonts/Montserrat-ExtraLight.woff') format('woff'), url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.eot');
    src: url('../fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Italic.woff2') format('woff2'), url('../fonts/Montserrat-Italic.woff') format('woff'), url('../fonts/Montserrat-Italic.ttf') format('truetype'), url('../fonts/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.eot');
    src: url('../fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'), url('../fonts/Montserrat-ThinItalic.woff') format('woff'), url('../fonts/Montserrat-ThinItalic.ttf') format('truetype'), url('../fonts/Montserrat-ThinItalic.svg#Montserrat-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Montserrat';
}

.test {
    height: 350px;
    width: 100%;
    margin: 5px auto;
    background-color: aquamarine;
    max-width: 1280px;
}

.pass-test {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pass-test__content {
    height: 100%;
    display: flex;
}

.button {
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    padding: 14px 20px;
}

.button--primary {
    display: block;
}

.pass-test__button {
    max-width: 300px;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 30;
}

.quiz {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    max-height: 95%;
    z-index: 40;
    overflow: auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.quiz-head {
    max-width: 985px;
    padding: 41px 0 34px 43px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
}

.quiz-head p.quiz-head_hint {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.quiz-head img {
    width: 100%;
    max-width: 200px;
}

.quiz-body {
    max-width: 985px;
}

.quiz-position {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 316px;
    width: 100%;
    min-height: 100%;
}

.quiz-position__bg {
    border-left: 1px solid #333;
    width: 100%;
    height: max-content;
    min-height: 100%;
    background-color: #ffffff;
    position: relative;
}

.quiz-position__bg-test {
    position: absolute;
    height: 100%;
    min-height: 95vh;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.quiz-position__on {
    text-align: center;
    font-size: 26px;
    line-height: 22px;
    display: block;
    padding: 67px 0 20px;
    text-transform: uppercase;
}

.form__title {
    font-size: 34px;
    font-weight: 900;
    padding: 30px 40px;
}

.quiz-position__percent {
    font-size: 73px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 83px;
    display: block;
    border-bottom: 1px solid #333;
    align-items: center;
}

.form-button {
    display: flex;
    justify-content: space-between;
}

.button--primary {
    margin: 30px auto;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: lightblue;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-button_btn-prev {
    background-color: bisque;
}

.form__column {
    max-width: 450px;
    width: 100%;
    margin: auto;
}

.form_fieldset {
    margin: auto;
    text-align: center;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.form__group {
    cursor: pointer;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 14px 10px;
}

.form__group.active-checkbox {
    border: 1px solid #31f773;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
}

.form__input {
    display: none;
}

.form__label-checkbox {
    cursor: pointer;
    line-height: 22px;
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    font-size: 15px;
}

.form__label-checkbox::before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-right: 15px;
}

.form__input:checked+.form__label-checkbox::before {
    border: 1px solid #22f805;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
}

.form__input:checked+.form__label-checkbox::after {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('../img/checked.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.form__column+.form-button__indent {
    margin: auto;
    max-width: 600px;
    width: 100%;
}

.form-button_btn-prev {
    float: left;
    margin-right: 50px;
}

.form-button_btn-next {
    float: right;
}

.sending-message {
    padding: 20px 40px;
}

.quiz-form {
    text-align: center;
}

.quiz-form__group {
    margin-bottom: 20px;
}

.sending-message__title {
    font-size: 34px;
    font-weight: 700;
    padding: 30px 40px;
    line-height: 50px;
    text-align: center;
}

.quiz-form__label {
    display: block;
    font-size: 22px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 10px;
    max-width: 320px;
    text-align-last: left;
    margin: 10px auto;
}

.quiz-form__input {
    background-color: #ffffff;
    width: 100%;
    max-width: 320px;
    height: 47px;
    padding: 0 10px;
    border: 1px solid #595354;
    border-radius: 5px;
}

.quiz-form__input-policy {
    margin: 10px 0px;
}

.quiz-form__label-policy {
    margin: 10px 0px;
}

.wrapper {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.progress__line-bg {
    background-color: #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.progress__line {
    background-color: #2fc54d;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}